h1 {
    color: red;
    font-size: 500px ;
}
p{
    color: red ;
    line-height: 2 ;
}
canvas{
 border-style: solid;
 border-color: black;
 border-width: 1px;
 
}
section-canvas{
    text-align: center;
    border-style: solid; 
}   
canvas{
    border-      style: solid; 
}