
    header {
        background-color:white ;
        color:black;
    
        }
        nav{
            text-align: center;
        }
        
        
            
        
        
        
        header{
            text-align: center;
            font-size: 50px;
            background-color:white;
        }


        .box{
  
  
            margin-left: 25%;
            display: flex;
            align-items: center;
            margin-right: 25%; 
            text-align: left;


        }
        .box{
  
  
            margin-left: 25%;
            display: flex;
            align-items: center;
            margin-right: 25%; 
            text-align: left;


        }


.width30{
    width: 30%;

}

.width40{
    width: 40%;
}

a{
    color: blue; 
    text-decoration: none;

}
a:hover{
    color: grey; 
}